@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
}

body {
  background-color: #212426;
  font-family: var(--font-roboto);
}

.search {
  margin: 4rem 0 2rem;  

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border-radius: 3rem;

  background-color: #1f2123;
}

.search input{ 
  border: none;
  font-size: 1.5rem;
}

.search img {
  cursor: pointer;
}